.imageIcon li{
    color: #333;
    flex-direction: column;
    gap: 10px;
}
.imageIcon li a {
    color: #333
}
.imageIcon li svg {
    font-size: 25px;
}
.imageIcon li:nth-child(1) {
    color: #fff
}
.imageIcon li:nth-child(1) a {
    color: #fff
}

@media (min-width: 800px) {
    .imageIcon li svg {
        display:none;
    }
    .imageIcon li{
        color: #fff;
    }
    .imageIcon li a {
        color: #fff
    }
}